body{
    width: 1250px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 232, 232);
}
header{
    height: 200px;
}
.note{
    padding: 0.5em 1em;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #fffffff9;
    background: rgb(73, 73, 73);/*背景色*/
    border-left: double 7px #ffffff;/*左線*/
    border-right: double 7px #ffffff;/*右線*/
    font-family: 'Times New Roman', Times, serif;
}
.title{
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: linear-gradient(rgb(129, 71, 127),rgb(163, 82, 190));
    box-shadow: 0px 0px 0px 10px #ffffff00;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div.main{
    display: flex;
    flex: 1;
}
main{
    flex: 1;
}
nav{
    width: 200px;
    padding: 0.1em 0.3em;
    margin: 2em 0;
    color: #565656;
    background: #434343;
    border: dashed 0.1px #5c5c5d;
}
table{
    margin: auto;
    font-weight: bold;
    font-size: large;
    text-align: center;
    top:  0;
    bottom:  0;
    left:  0;
    right:  0;
    width: 100%; max-width: 700px; 
    background : #f1f1f1 ;
    border : solid 1px #b3b3b3 ;
    border-top : solid 1px #717171 ;
    border-bottom : solid 1px #e0e0e0 ;
    box-shadow : 0 1px 2px rgba(100, 100, 100, 0.3)inset ;
}
td{
    margin: 0; 
    padding: 0;
}
div.zaseki{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
}
aside{
    width: 250px;
    text-align: center;
    padding: 0.1em 0.3em;
    margin: 2em 0;
    color: #565656;
    background: #434343;
    border: dashed 0.1px #5c5c5d;
}
aside p{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #a825ab;/*文字色*/
    background: #FFF;
    border: solid 3px #000000;/*線*/
}
.tenki{
    background-color: #fffefe;
   width: auto;
   top:  0;
   bottom:  0;
   left:  0;
   right:  0;
}
.day{
    padding: 8px 19px;
    margin: 2em 0;
    color: #2c2c2f;
    background: #ffffff;
    border-top: solid 3px #000000;
    border-bottom: solid 3px #000000;
}
a{
    text-decoration: none;
}
h1.title,p.note{
    text-align: center;
}
.slider {
    width: 200px;
  overflow: hidden;
  margin: 0 auto;
  
  }
  .slider-item {
    width: 200px;
    float: left;
  }
  img{
    width:100%;
  }
  .slider-inner {
    width: 300%;
    animation: slider 7s infinite ease;
  }
.kojin{
    background-color: #e0e0e0;
}
  @keyframes slider {
      0% {
      transform: translateX(0);
      }
      33% {
      transform: translateX(-300px);
      }
      66% {
      transform: translateX(-600px);
      }
      100% {
      transform: translateX(0);
      }
  }
footer{
    background-color: #3e3e3e;
    height: 150px;
    padding: auto;
    }
    footer h2{
        color: #ffffff;
        text-align: center;
        line-height: 100px;
        width: auto; 
        font-family: 'Times New Roman', Times, serif;
    }
footer img{
    width: 2.1%;
}
    .right{
        text-align: right;
        background-color: #ffffff;
    }
@media screen and (max-width: 900px){
    
body,nav,aside{
    width: 100%;
}
div{
    flex-direction: column;
}
main{
    order: -1;
}
}
.googleCalendar iframe {
    width: 100%;
    height: 400px;
  }
  @media all and (min-width: 768px) {
    .googleCalendar iframe {
      height: 600px;
    }
  }
  .picture{
        display: block;
        margin-left: auto;
        margin-right: auto;
      width: 400px;
  }